#about {
  min-height: 100vh;
  padding-top: 100px;
  position: relative;
  background: linear-gradient(to bottom, var(--background-color), var(--light-background-color));
}
.about-title {
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
}
.about-desc {
  padding-top: 10px;
  text-align: center;
  font-size: var(--paragraph-2);
  color: var(--desc-color);
}
.about-cards-title {
  text-align: center;
  padding-top: 60px;
  font-size: 35px;
}
.about-card {
  margin-top: 40px;
  padding: 40px;
  background-color: black;
  border-radius: 40px;
  height: 90%;
  transition: all 0.3s ease;
}
.about-card-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}
.about-highlight {
  color: var(--secondary-color);
}
.about-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 120, 144, 0.3);
}


@media (max-width: 767px) {
  .about-title {
    font-size: var(--heading-2);
  }
  .about-desc {

  }
}
