#projects {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 30px;
}
.projects-title {
  font-size: var(--heading-2);
  font-weight: 700;
  text-align: center;
}
.projects-desc {
  color: var(--desc-color);
  text-align: center;
  padding: 10px 25%;
}
.project-card {
  width: 100%;
}
.project-img {
  position: relative;
  height: 350px;
  border-radius: 20px;
  background-image: url('https://placehold.co/500x300');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  z-index: 1;
  transition: all 0.3s ease;
}
.project-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: black;
  opacity: 0.2;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.project-card-overlay:hover {
  opacity: 0;
}
.project-img:hover {
  transform: translateY(-5px);
}
.project-card-title {
  font-weight: 500;
  font-size: 22px;
}
.project-card-desc {
  color: var(--desc-color);
}
.project-tags {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 8px;
  left: 5px;
  filter: brightness(100%);
  z-index: 3;
}
.project-tag {
  background-color: #efa104;
  padding: 4px 8px;
  border-radius: 20px;
  margin-left: 10px;
  transition: all 0.3s ease;
}
.project-tag:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 25px rgba(144, 98, 0, 0.3);
  background-color: #ef8d04;
}



@media (max-width: 767px) {
  .projects-desc {
    padding: 10px 10%;
  }
}
